@model IEnumerable<TomasosPizzeria.Models.Bestallning>

@{
    ViewData["Title"] = "Beställning";
}
<h1>Tack för din beställning!</h1>
<label class="korglabel">Din mat är framme om 10-30 minuter.</label>
