@model IEnumerable<TomasosPizzeria.Models.Matratt>

@{
    ViewData["Title"] = "Home";
}
<h2 class="headclass">Välkommen till Tomasos Pizzeria</h2>
<img class="imgpizza" src="~/images/pizzabanner.png" alt="Pizza" width="780" height="250">
<h3 class="italicfont">Tomasos</h3>
<hr />
<label class="namn">
    Pizzeria Tomasos är en restaurang där årens erfarenheter möts. Våra kockar lagar den utsökta maten som faller i våra gäster smaker.
    På våran restaurang känner sig gästerna avslappnade i den hemtrevliga miljön.
</label>
<label class="namn">På Tomasos meny hittar du pizza, pastarätter samt sallader. För den som inte har tid att vänta medans maten lagas går det även bra att ringa på 00-000 00 0 för beställning och en snabb avhämtning .Du hittar vår fullständiga meny på våran hemsida.</label>
<br />
<br />
<a class="btn-link" href="Meny">Gå till meny</a>